body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}


.img-div {
    width: 100%;
}

.img-about {
    width: 100%;
    height: 244px;
    /* border-top: none; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}
.main{
    display: flex;
    width: 91%;
    padding: 60px;
    padding-bottom: 15px;
    padding-left: 60px;


}
.col-1{
    display: block;
    width: 50%;
    padding: 40px;
    padding-left: 0px;
}
.col-2{
    display:block;
  
    width: 50%;
    padding: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
.row-faq {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(240, 244, 252);
    border-radius:8px ;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    transition: all 1s ease;
}
.add-bg{
    background-color: rgb(16, 36, 100);
    color: white;
}
.row-faq p{
    margin: auto;
    width: 90%;
    padding-left: 15px;
   
}
.arrow-btn{
    width: 10%;
    margin: auto;
    text-align: center;
    transform: rotate(0deg);
    cursor: pointer;
    transition: all 1s ease;
}
.arr-btn{
    transform: rotate(180deg);
    color: white;
}
.transform{
    transition: all 2s ease;
    height:0px;
    opacity: 0;
}
.p{
    display:none;
    transition-delay: 2s;
}
.content{
    padding:0px 40px 30px 40px;
    text-align: justify;
    line-height: 30px;
    height:145px;
    /* transition: all 2s ease; */
    opacity: 1;
}
.div3{
    width: 95%;
    display: flex;
    padding-left: 60px;
}
.support{
    width: 40%;

        /* width: 60%;
        /* height: 20%; */
        /* background-color: rgb(255, 255, 255);
        padding: 40px;
        margin-right: 10px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */ 

}
.support p{
    text-align: justify;
    padding-right: 60px;
}
.mail-us{
    width: 18.3%;
    /* height: 20%; */
        background-color: rgb(255, 255, 255);
        padding: 40px;
        margin-right: 10px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.mail-us i{
    font-size: 50px;

}
.call-us i{
    font-size: 50px;
    
}
.call-us{
    width: 18.3%;
    /* height: 20%; */
    background-color: rgb(255, 255, 255);
    padding: 40px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 35px;
}
