body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.img-div {
    width: 100%;
}

.img-about {
    width: 100%;
    height: 244px;
    /* border-top: none; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}

.about-eDeeksham {
    display: flex;
    padding: 100px;
    padding-bottom: 0px;
}

.content-part {
    width: 50%;
    padding: 40px;
}
.content-part h2{
    color: #002868;
    font-weight: 70;
}
.content-part p{
    line-height: 35px;
    word-spacing: 5px;
    text-align: justify;
}
.img-part {
    width: 50%;
    padding: 40px;
    padding-top: 83px;
}

.about-img {
    position: relative;
    z-index: 2;
}

.img1 {
    width: 490px;
    height: 470px;
    border-radius: 25px;
    margin-left: 35px;
    /* z-index: 2; */
}

.box-edeeksham {
    width: 200px;
    height: 190px;
    border-radius: 20px;
    /* background-color: rgb(248, 198, 173); */
    background-color: #b0c4f4;
    position: absolute;
    transform: rotate(-47deg);
    margin-top: -137px;
    margin-left: 378px;
}

.vision-mission {
    width: 100%;
    padding-top: 100px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-edeeksham {
    display: flex;
    width: 100%;
    padding: 100px;
}

.mission {
    width: 60%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 30px;
}

.vision {
    width: 60%;
    height: 20%;
    background-color: #b0c4f4;
    padding: 40px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.mission-cont p{
    text-align: justify;
    line-height: 20px;
    margin-top: 10px;
}
.img-vision {
    display: flex;
    height: 75px;
    width: 80px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 4px;
}

.img-mission {
    display: flex;
    height: 75px;
    width: 80px;
    background-color: #b0c4f4;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}