* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}


/* ==================================================== Header start ====================================================*/
.heading-section {
    /* background-color: rgb(236, 249, 243); */
    background-color: rgb(238, 243, 253)
}

.header {
    display: flex;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(236, 249, 243);
    padding-top: 16px;
    height: 96px;
    /* color: rgb(10, 10, 133); */
    color: #14539a;
    margin-bottom: 20px;
}

.header .logo-photo {
    margin-left: 22px;
    margin-right: 24px;
}

.left-div {
    display: flex;
    width: 90%;
    padding-left: 71px;
}

.right-div {
    display: flex;
    width: 10%;
}

.head-title {
    width: 37%;
    margin-top: 10px;
}

/*============================================================= Header end ========================================================*/


/*============================================================= Navbar Start ========================================================*/

.navbar {
    display: flex;
    height: 75px;
    background-color: #14539a;
    font-size: 18px;
    padding-top: 15px;
    color: white;
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.navlist {
    padding-left: 90px;
    width: 75%;
}

.navlist .list-item {

    display: flex;
    box-sizing: border-box;
}

.navlist .list-item a{
    text-decoration: none;
}

.navlist .list-item .item {

    margin-left: 20px;
    margin-right: 15px;
    padding-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    height: 50px;
    width: fit-content;
    /* min-width: 90px; */
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.navlist .list-item .item:hover {
    background-color: white;
    color: #14539a;
}


.nav-btn {
    display: flex;
    align-items: center;
    margin-top: -8px;

}

.nav-btn button {
    background: none;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    border-color: aliceblue;
    margin-right: 20px;
    cursor: pointer;
}

.nav-btn button:hover {
    background-color: aliceblue;
    color: #14539a;
}



.dropdown {
    width: 90px;
    border-radius: 5px;

}

/* .dropdown:hover{
    background-color: white;
    color:#002868
} */
.dropdown button {

    background: none;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin-top: -2px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown button:hover {
    background-color: white;
    color: #14539a;
}

.dropdown-options {
    display: none;
    position: absolute;
    color: white;
    z-index: 2;
}

.dropdown:hover .dropdown-options {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    background-color: #14539a;
    width: 130px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    /* border: 1px solid black; */
}

.dropdown:hover .dropdown-options a {
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

.dropdown:hover .dropdown-options a:hover {
    background-color: rgb(253, 253, 253);
    color: #14539a;
}

.hamburger {
    width: 60px;
    height: 90px;
    display: none;
    position: absolute;
    margin-top: 22px;
    margin-left: 1184px;
    z-index: 2;

}

.hamburger div {
    width: 100%;
    height: 6px;
    background-color: #eef3f3;
    margin-top: 10px;
}

/*============================================================= Navbar end ========================================================*/