* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

/* ==================================================== Header start ====================================================*/
.heading-section {
    background-color: rgb(236, 249, 243);
}

.header {
    display: flex;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(236, 249, 243);
    padding-top: 20px;
    height: 105px;
    color: rgb(10, 10, 133);
}

.header .logo-photo {
    margin-left: 22px;
    margin-right: 24px;
}

.left-div {
    display: flex;
    width: 71%;
    padding-left: 71px;
}

.right-div {
    display: flex;
    width: 25%;
}

.head-title {
    width: 37%;
    margin-top: 10px;
}

/*============================================================= Header end ========================================================*/

/*============================================================= Navbar Start ========================================================*/

.navbar {
    display: flex;
    height: 75px;
    background-color: #14539a;
    font-size: 18px;
    padding-top: 15px;
    color: white;
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.navlist {
    padding-left: 90px;
    width: 75%;
}

.navlist .list-item {

    display: flex;
    box-sizing: border-box;
}

.navlist .list-item a {
    text-decoration: none;
}

.navlist .list-item .item {

    margin-left: 20px;
    margin-right: 15px;
    padding-top: 13px;
    padding-left: 6px;
    padding-right: 6px;
    height: 50px;
    width: fit-content;
    /* min-width: 90px; */
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.navlist .list-item .item:hover {
    background-color: white;
    color: rgb(8, 8, 111);
}


.nav-btn {
    display: flex;
    align-items: center;
    margin-top: -8px;

}

.nav-btn button {
    background: none;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    border-color: aliceblue;
    margin-right: 20px;
    cursor: pointer;
}

.nav-btn button:hover {
    background-color: aliceblue;
    color: rgb(10, 10, 133);
}



.dropdown {
    width: 90px;
    border-radius: 5px;

}

/* .dropdown:hover{
    background-color: white;
    color:#002868
} */
.dropdown button {

    background: none;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin-top: -2px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown button:hover {
    background-color: white;
    color: rgb(10, 10, 133);
}

.dropdown-options {
    display: none;
    position: absolute;
    color: white;
    z-index: 2;
}

.dropdown:hover .dropdown-options {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    background-color: #14539a;
    width: 130px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    /* border: 1px solid black; */
}

.dropdown:hover .dropdown-options a {
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

.dropdown:hover .dropdown-options a:hover {
    background-color: rgb(253, 253, 253);
    color: rgb(10, 10, 133);
}



/*============================================================= Navbar end ========================================================*/


/*============================================================= Our Team start ========================================================*/

.ourteam {
    /* width: 100%;
    height:100% ; */
    height: auto;
    width: auto;
    background: #fff;
}

.ourteam img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}



/*============================================================= Our Team end ========================================================*/

/*============================================================= mid start ========================================================*/

.mid {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.mannage {
    height: 100%;
    width: 100%;
    /* margin-right: 10%; */
}

.map {
    width: 66%;
    /* margin-top: 5%; */
    /* margin-left: 10%; */
    display: flex;
    margin: auto;

}

.map iframe {
    margin-top: 30px;
}

.mannage h1 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 30px;
}

.details {
    margin-left: 30px;
    height: 500px;

}

.details div {
    margin-bottom: 30px;
    height: 160px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(244, 240, 240);
    padding-top: 10px;
}

.details div i {
    margin-left: 25px;
    /* margin-top: 4px; */
    font-size: 40px;
}

.details div h3,
p {
    margin-left: 25px;
    margin-top: 8px;
}

/*============================================================= mid end ========================================================*/

/* ======================================================= last section start ======================================================  */
.last {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    background-color: rgb(236, 249, 243);
    padding-bottom: 100px;
}

.last h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 10px;
}

.last p {
    margin-left: 15%;
    margin-right: 15%;
    /* padding-top: 5%; */
}

.last .contact {
    width: 100%;
    padding-left: 15px; 
    padding-right: 20px;
    padding-top: 2%;
    margin: auto;
    gap: 5px;
}

.contact input {
    height: 50px;
    width: 350px;
    box-shadow: 5px 8px 39px 8px rgb(229, 245, 238);
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 15px;

}

.contact input:focus {
    outline: none;
}

.contact input[type=text1] {
    padding-left: 20px;
}

/* .input-data{
    box-shadow: 3px 3px 3px 3px grey;
} */
.last div {
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 20px 50px; */
}

.contact textarea {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    max-height: 100px;
    min-height: 100px;
    max-width: 733px;
    min-width: 733px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(236, 249, 243);
}

.contact textarea:focus {
    outline: none;
}

.button1 {
    background-color: darkblue;
    color: white;
    height: 40px;
    width: 102px;
    margin-left: 40%;
    margin-top: 20px;
    border-radius: 8px;
    display: block;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.button1:hover {
    background-color: #003cff;
    color: white;
}

.input-data label {
    position: absolute;
    padding-top: 20px;
    padding-left: 10px;
    transition: all 0.3s ease;
    color: grey;
    z-index: 1;
    font-size: 14px;
}

.input-data input:focus~label,
.input-data input:valid~label {
    transform: translateX(-1px);
    margin-top: -37px;
}



/* ======================================================= last section end ======================================================  */

/*============================================================= Footer Section start ========================================================*/

.footer {
    background-color: #14539a;
    color: white;
    margin: auto;
    width: 100%;
    height: 450px;
    padding-top: 50px;
}

.footer-upper {
    display: flex;
    margin: auto;
    width: 80%;
}

.footer-first {
    width: 30%;
    margin: auto;
    font-size: 18px;
    margin-top: 0px;
}

.footer-first p {
    opacity: 0.9;
}

.footer-first .footer-image {
    margin-bottom: 30px;
    padding-left: 20px;
}

.footer-first .footer-image img {
    width: 150px;
    height: 100px;
}

.footer-second {
    width: 10%;
    margin: auto;
    margin-top: 0px;
}

.footer-second ul {
    margin-top: 20px;
}

.footer-second li {
    list-style: none;
    opacity: 0.9;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}

.footer-third {
    width: 23%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 40px;
}

.footer-third div {
    display: flex;
    align-items: center;
    opacity: 0.9;
    margin-top: 20px;
}

.footer-third div i {
    margin-right: 20px;
    font-size: 25px;
}

.footer-third h3:nth-child(5) {
    margin-top: 35px;
    margin-bottom: 20px;
}

.footer-third i {
    font-size: 30px;
    color: #a9c5f6;
    margin-right: 40px;
    cursor: pointer;
}

.footer-lower {
    display: flex;
    border-top: 1px solid white;
    width: 73%;
    margin: auto;
    font-size: 15px;
}

.footer-lower div {
    width: 50%;
}

.face:hover {
    color: #003cff;
}

.tweet:hover {
    color: #00ccff;
}

.yt:hover {
    color: #ff0e0e;
}


/*============================================================= Footer Section End ========================================================*/

@media only screen and (max-width:1300px) {
    .mid {
        height: 100%;
        width: 100%;
    }

    .mannage {
        height: 100%;
        width: 100%;
    }

    .map {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .map iframe {
        width: 90%;
        height: 500px;
        margin: auto;
    }

    .mannage h1 {
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
        font-size: 45px;
    }

    .details {
        height: 50%;
        width: 100%;
        margin: 0px;
    }
    
    .details div {
        /* margin-bottom: 30px; */
        height: 100%;
        width: 90%;
        margin: 10%;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgb(244, 240, 240);
        margin: auto;
        margin-top: 40px;
        /* padding-top: 10px; */
    }
    
    .details div i {
        margin-left: 25px;
        font-size: 50px;
    }
    
    .details div h3,
    p {
        margin-left: 25px;
        margin-top: 8px;
    }
    .details div h3{
        font-size: 36px;
    }
    .details div p{
        font-size: 18px;
    }
    
    .last {
        margin-top: 30px;
        height: 100%;
        width: 100%;
        background-color: rgb(236, 249, 243);
        padding-bottom: 100px;
    }
    
    .last h1 {
        text-align: center;
        font-size: 40px;
        padding-top: 70px;
        padding-bottom: 10px;
    }
    
    .last p {
        font-size: 20px;
        /* margin: 0px; */
        margin: 20px;
        line-height: 30px;
        padding-bottom: 10px;
    }
    
    .last .contact {
        width: 100%;
        height: 150px;
        /* margin-top: 8%; */
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .contact input:focus {
        outline: none;
    }
    
    .contact input[type=text1] {
        padding-left: 20px;
    }
    .contact input{
        font-size: 25px;
    }
    .contact .input-data{
        margin-top: 50px;
        width: 100%;
    }
    .contact .input-data label{
        font-size: 18px;
    }
    .last .contact div {
        width: 90%;
        display: flex;
        margin: auto;
        flex-direction: column;
        grid-template-columns: auto auto auto;
        /* gap: 20px 50px; */
    }
    
    .contact textarea {
        font-size: 15px;
        max-height: 150px;
        min-height: 100px;
        margin: auto;
        border: none;
        box-shadow: 2px 2px 2px 2px rgb(236, 249, 243);
        min-width: 350px;
        max-width: 350px;
    }
   
    .contact textarea:focus {
        outline: none;
    }
    
    .button1 {
        background-color: darkblue;
        color: white;
        height: 40px;
        width: 102px;
        margin-left: 38%;
        margin-top: 20px;
        border-radius: 8px;
        display: block;
        border: none;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }
    
    .button1:hover {
        background-color: #003cff;
        color: white;
    }
    
    .input-data label {
        position: absolute;
        padding-top: 20px;
        padding-left: 10px;
        transition: all 0.3s ease;
        color: grey;
        z-index: 1;
        /* font-size: 14px; */
    }
    
    .input-data input:focus~label,
    .input-data input:valid~label {
        transform: translateX(-1px);
        margin-top: -37px;
    }
    
}